ass==0.5.4
ass-parser==1.0
ass-tag-parser==2.4.1
certifi==2023.7.22
charset-normalizer==3.2.0
idna==3.4
iso639==0.1.4
iso639-lang==2.1.0
langcodes==3.3.0
language-data==1.1
marisa-trie==0.7.8
numpy==1.25.2
overrides==7.4.0
py3langid==0.2.2
pyarr==5.2.0
pysub-parser==1.7.0
requests==2.31.0
types-requests==2.31.0.2
types-urllib3==1.26.25.14
Unidecode==1.3.6
urllib3==2.0.4
